// buddycloud-http-api-server config
// rename to config.js

// API requests look like:
//
//   [webclient (https/443)]
//              ↓
//   [webserver reverse proxy]
//              ↓
//   (unencrypted http traffic on port 9123)
//              ↓
//   [buddycloud-http-api-server (http/9123)]
//              ↓
//   (unencrypted xmpp traffic on port 5222)
//              ↓
//   [XMPP server (xmpp/5222)] → [other buddycloud components or XMPP servers]


exports._ = {
  // This is the port that your webserver's reverse proxy will forward requests to
  port: 9123,
};

// Production settings
exports.production = {
  // More logs?
  debug: true,

  // the domain your run buddycloud for (if your username is name@EXAMPLE.COM then this would be EXAMPLE.COM)
  xmppDomain: 'EXAMPLE.COM',

  // Hostname (optional - if not provided SRV client records will looked up and used)
  xmppHost: '127.0.0.1',
 
  // the anonymous domain that unauthenticated users are dropped into (should match your XMPP server)
  xmppAnonymousDomain: 'anon.EXAMPLE.COM',

  // your buddycloud channel server
  channelDomain: 'buddycloud.EXAMPLE.COM',

  // the pusher component sends emails to users (https://github.com/buddycloud/buddycloud-pusher)
  pusherComponent: 'pusher.EXAMPLE.COM',

  // the friend finder component looks for your friends from other social networks
  friendFinderComponent: 'friendfinder.buddycloud.org',

  // you probably want to use the buddycloud search service
  searchComponent: 'search.buddycloud.org',

  // where to forward media requests
  homeMediaRoot: 'http://localhost:60080',

  // pushpin and/or fanout.io is used for sending realtime data to clients
  //  gripProxies: [
  //  // pushpin
  //  {
  //    key: 'changeme', // make sure this matches with pushpin.conf
  //    controlUri: 'http://localhost:5561'
  //  },
  //  // fanout.io
  //  /*{
  //    key: new Buffer('your-realm-key', 'base64'),
  //    controlUri: 'http://api.fanout.io/realm/your-realm',
  //    controlIss: 'your-realm'
  //  }*/
  //]
};
