// buddycloud-http-api-server config file
 
// This port should match your web server reverse proxy setting
exports._ = {
  port: 9123,
};
 
// Production settings
exports.production = {
  debug: true,
  xmppDomain: 'example.com',
  xmppAnonymousDomain: 'anon.example.com',
  channelDomain: 'buddycloud.example.com',
  pusherComponent: 'pusher.example.com',
  // you probably want to use the buddycloud search service
  searchComponent: 'search.buddycloud.com',
  homeMediaRoot: 'http://localhost:60080',
  // if using Fanout.io's API CDN, edit below
  fanoutRealm: 'example.com',
  fanoutKey: 'your-secret-key'
};
